---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.post-content, .archive{
    margin-top: 40px !important
}
.post-footer, #disqus_thread{
    margin-top: 100px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;